<header class="site-header">
    <div class="section">
        <h1 id="title">Will Moss</h1>
        <div id="header-buttons">
            <div class="header-col">
                <a class="btn" href="/">Home</a>
            </div>
            <div class="header-col">
                <a class="btn" href="/blog.html">Blog</a>
            </div>
            <div class="header-col">
                <a class="btn" href="/resume.html">Resume</a>
            </div>
            <div class="header-col">
                <a class="btn" href="/portfolio.html">Portfolio</a>
            </div>

        </div>
    </div>
</header>